<form action='/timeline/create'>
    <input type="text" name="username">
    <input type="text" name="message">
    <input type="submit">
</form>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%for record in timerecord%}
        <p>{{record['username']}}: {{record['message']}}</p>
        
    {% endfor %}
</body>
</html>